@import" https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.textbox {
color:#f3971b;
font-size:40px;
}

.text{
color:#f3971b;
font-size:30px;
}

img.img{
max-width:80%;
max-height:20%;
}